
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main{
    position: absolute;
  
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
}   
.container{
    margin: auto;
}

h1, h2, p{
    display: block;
    color: tomato;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



