body{
    margin: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}   

.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup{
    grid-column: 2/10;
    border: solid 5px tomato;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 30rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1, h2, p{
   
    display: block;
    color: tomato;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



